<div id="wrapper">
  <section>
  <header>
    <div class="name">Create Category:</div>
  </header>

<form action="/category/new" method="post">
    <div class="inputs">
      <input type="text" id="name" name= "category" />
    </div>
  <input type="submit" value="Create Category" class="button" />
</form>
</div>
