<div class="container">
	<h2>Create Category</h2>
<h3>Separate multiple categories with comma</h3>
<form action="/category/new" method="post">
  <input type="text" name="category">
  <input type="submit" name="submit">
</form>

</div>