<div id="wrapper">
  <section>
  <header>
    <br>
    <div class="name">Create Category:</div>
  </header>
<div class="name">seperate mutliple categories with commas</div>
<form action="/category/new" method="post">
    <div class="inputs">
      <input type="text" id="name" name= "category" />
    </div>
  <input type="submit" value="Create Category" class="button" />
</section>
</form>
</div>
