<div class="container">
<br><br>
<h2>Login</h2>
<form action="/login" method="post">
	Username: <input type="text" name="username"><br><br>
	Password: <input type="password" name="password"><br><br>
	<input type="submit" name="submit"><br><br>
</form>

<h2>Sign Up</h2>
<form action="/signup" method="post">
	Username: <input type="text" name="username"><br><br>
	Cohort: <select name="cohort">
      <option value="Caterpillar">Caterpillar</option>
      <option value="Newt">Newt</option>
      <option value="Woodchuck">Woodchuck</option>
      <option value="Staff">Staff</option>
    </select><br><br>
    Password: <input type="password" name="password"><br><br>
    <input type="submit" name="submit">
</form>
</div>