<div id="wrapper">
  <section>
    <header>
      <div class="name">Username:</div>
      <div class="password">Password:</div>
    </header>
    <form action="/login" method="post">
      <div class="inputs">
        <input type="text" id="name" name= "username">
        <input type="password" id="password" name="password">
      </div>
      <input type="submit" value="Log in" class="button">
</form>
</section>
</div>

<div id="wrapper">
  <section>
    <header>
      <div class="name">Username:</div>
      <div class="password">Password:</div>
    </header>
    <form action="/signup" method="post">
      <div class="inputs">
        <input type="text" id="name" name= "username">
        <input type="password" id="password" name="password">
        <select name="cohort">
          <option value="Caterpillar">Caterpillar</option>
          <option value="Newt">Newt</option>
          <option value="Woodchuck">Woodchuck</option>
          <option value="Staff">Staff</option>
        </select>
      </div>
      <input type="submit" value="Log in" class="button">
</form>
</section>
</div>

<!-- <div id="wrapper" class="container">
<br><br>
<h2>Login</h2>
<form action="/login" method="post">
	Username: <input type="text" name="username"><br><br>
	Password: <input type="password" name="password"><br><br>
	<input type="submit" name="submit"><br><br>
</form>

<h2>Sign Up</h2>
<form action="/signup" method="post">
	<input type="text" name="username">
	  <select name="cohort">
      <option value="Caterpillar">Caterpillar</option>
      <option value="Newt">Newt</option>
      <option value="Woodchuck">Woodchuck</option>
      <option value="Staff">Staff</option>
    </select>
    <input type="password" name="password">
    <input type="submit" name="submit">
</form>
</div> -->

