
<div id="wrapper">
  <section>
    <header>
      <div class="name">Username:</div>
      <div class="password">Cohort:</div>
    </header>
    <form action="/login" method="post">
      <div class="inputs">
        <input type="text" id="name" name= "username" />
        <input type="password" id="password" name="password" />
      </div>
      <input type="submit" value="Log in" class="button" />
    </form>
  </section>
</div>
