<div id="wrapper">
  <section>
  <div class="name">On a scale of 1 to 5, how challenged do you feel?</div>
<form action="/questionnaire/new" method="post">
      <input type="radio" name="challenge" class="styled" /> 1
      <input type="radio" name="challenge" class="styled" /> 2
      <input type="radio" name="challenge" class="styled" /> 3
      <input type="radio" name="challenge" class="styled" /> 4
      <input type="radio" name="challenge" class="styled" /> 5
</section>
</form>

  <section>
  <div class="name">On a scale of 1 to 5, how helpful was the instruction?</div>
<form action="/questionnaire/new" method="post">
      <input type="radio" name="help" class="styled" /> 1
      <input type="radio" name="help" class="styled" /> 2
      <input type="radio" name="help" class="styled" /> 3
      <input type="radio" name="help" class="styled" /> 4
      <input type="radio" name="help" class="styled" /> 5
</section>
</form>

  <section>
  <div class="name">On a scale of 1 to 5, how awesome is this app?</div>
<form action="/questionnaire/new" method="post">
      <input type="radio" name="help" class="styled" /> 1
      <input type="radio" name="help" class="styled" /> 2
      <input type="radio" name="help" class="styled" /> 3
      <input type="radio" name="help" class="styled" /> 4
      <input type="radio" name="help" class="styled" /> 5
  <input type="submit" value="Submit form" class="button" />
</section>
</form>
</div>
