
<form action="/questionnaire/new" method="post">

<h2>On a scale of 1 to 5, how challenged do you feel</h2><br><br>
<input type="radio" name="challenge" value="1">1
<input type="radio" name="challenge" value="2">2
<input type="radio" name="challenge" value="3">3
<input type="radio" name="challenge" value="4">4
<input type="radio" name="challenge" value="5">5

<br><br>
<h2>On a scale of 1 to 5, how helpful was the instruction</h2><br><br>
<input type="radio" name="help" value="1">1
<input type="radio" name="help" value="2">2
<input type="radio" name="help" value="3">3
<input type="radio" name="help" value="4">4
<input type="radio" name="help" value="5">5
<br><br>

<input type="submit" value="submit">

</form>
