<div id="wrapper">
  <section>
    <header>
      <div class="name">Title:</div>
      <div class="password">Content</div>
    </header>
    <% @feedbacks.each do |feedback| %>
       <%= feedback.title %> <br> <br>
       <%= feedback.content %> <br><br>
    <% end %>
  </section>
</div>
