<div id="wrapper">
  <section>
  <header>
    <div class="name">Feedback Form</div>
  </header>
<form action="/feedback" method="post">
  <div class="name">Select your cohort:</div>
    <select name="your_cohort" class="styled">
      <option value="Caterpillar">Caterpillar</option>
      <option value="Newt">Newt</option>
      <option value="Woodchuck">Woodchuck</option>
      <option value="Staff">Staff</option>
    </select>
  <div class="name">Select your category:</div>
   <select name="your_category" class="styled">
   <% @categories.each do |category| %>
    <option><%= category.name %></option>
    <% end %>
  </select>
  <br><br><br>
    <div class="name">Title of your post:</div>
    <div class="inputs">
      <input type="text" id="name" name= "title" />
    </div>
    <div class="inputs">
      <textarea name="feedback"></textarea>
    </div>
      <div class="name">Make this private?</div>
  <select name="private" class="styled">
    <option>true</option>
    <option>false</option>
  </select>

  <footer>
    <div class="flt">Private posts are only visible to staff members</div>
  </footer>
  <input type="submit" value="Submit Feedback" class="button" />
</form>
