<div class="container">
<h2>Feedback Form</h2>
<form action="/feedback" method="post">
	Select your cohort:
	<br><select name="your_cohort">
      <option value="Caterpillar">Caterpillar</option>
      <option value="Newt">Newt</option>
      <option value="Woodchuck">Woodchuck</option>
      <option value="Staff">Staff</option>
    </select><br><br>	
	Select your category:
	<br><select name="your_category">
	<% @categories.each do |category| %>
		<option><%= category.name %></option>
    <% end %>	
    </select><br><br>
    <h3>Enter feedback here</h3>
    Title: <input type="text" name="title"><br><br>	
	  Content: <textarea name="feedback"></textarea><br><br>
	<h2>Private post?</h2>
	<h3>Private posts are only visible to staff members</h3>
	<select name="private">
		<option>true</option>
		<option>false</option>
	</select><br><br>
	<input type="submit" value="submit">
</form>

</div>