<h2>Feedback Form</h2>
<form action="" method="post">
	Select your cohort:
	<br><select name="your_cohort">
      <option value="Caterpillar">Caterpillar</option>
      <option value="Newt">Newt</option>
      <option value="Woodchuck">Woodchuck</option>
      <option value="Staff">Staff</option>
    </select><br><br>	

	<textarea name="feedback"></textarea>

</form>