<!-- <div id="wrapper">
  <section> -->
  <div class="container">
  <header>
    <div id="feedback_title">Feedback Form</div>
  </header>
<form action="/feedback" method="post">
  <div id="feedback_cohort">Select your cohort:
    <select name="your_cohort" class="styled">
      <option value="Caterpillar">Caterpillar</option>
      <option value="Newt">Newt</option>
      <option value="Owl">Woodchuck</option>
      <option value="Staff">Staff</option>
    </select>
  </div>
  <div id="feedback_category">Select your category:
   <select name="your_category" class="styled">
   <% @categories.each do |category| %>
    <option><%= category.name %></option>
    <% end %>
  </select> <br><br>


    <div class="name">Title of your post:</div> <br>
    <div class="inputs">
      <input type="text" id="name" name= "title" />
    </div> <br>
    <div class="inputs">
      <textarea name="feedback"></textarea>
    </div> <br>
      <div class="name">Make this private?</div> <br>
  <select name="private" class="styled">
    <option>true</option>
    <option>false</option>
  </select>

  <footer><br><br>
    <div>Private posts are only visible to staff members
    </div> <br><br>
  </footer>
  <input type="submit" value="Submit Feedback" class="btn2" />
</form>
<!-- </section>
</div>
 -->
</div>
