<div id="wrapper">
  <section>
  <header>
    <div class="name">Feedback Form</div>
  </header>
<form action="/feedback" method="post">
  <div class="name">Select your cohort:</div>
    <select name="your_cohort" class="styled">
      <option value="Caterpillar">Caterpillar</option>
      <option value="Newt">Newt</option>
      <option value="Woodchuck">Woodchuck</option>
      <option value="Staff">Staff</option>
    </select>
  <div class="name">Select your category:</div>
	 <select name="your_category" class="styled">
	 <% @categories.each do |category| %>
		<option><%= category.name %></option>
    <% end %>
  </select>
    <div class="name">Enter feedback here</div>
    <div class="name">Title:</div>
    <div class="inputs">
      <input type="text" id="name" name= "title" />
    </div>
    <div class="name">Content:</div>
    <div class="inputs">
          <textarea name="feedback"></textarea>
    </div>
  <div class="name">Private Post?</div>
  <div class="name">Private posts are only visible to staff members</div>
	<select name="private">
		<option>true</option>
		<option>false</option>
	</select><br><br>
  <input type="submit" value="Submit Feedback" class="button" />
</form>
<!--
<select name="d" class="styled">
  <option value="1">Option 1</option>
  <option value="2">Option 2</option>
  <option value="3">Option 3</option>
</select> -->
